body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:blue;
    color: rgba(255, 255, 0, 0.644);
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

#product-details {
    margin-top: 20px;
}

form {
    margin-top: 20px;
}
